<template>
<div>
    <ul class="nav container">
        <li class="nav-item" style="padding:10px 0">Hello, {{user.name | capitalize}}</li>
        <li class="nav-item" style="padding:10px 0;cursor:pointer;" @click="logout">
            Logout
        </li>
    </ul>
    <div class="container bg-calendar">
        <!-- calendar -->
        <div id="calendar">
        </div>
        <!-- visibility -->
        <div class="visibility">
            <div class="form-check">
                <input class="form-check-input" type="radio" 
                name="gridRadios" id="gridRadios1" value="all" checked
                v-model="visibility">
                <label class="form-check-label" for="gridRadios1">
                    All Events
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" 
                type="radio" name="gridRadios" id="gridRadios2" value="myevent"
                v-model="visibility">
                <label class="form-check-label" for="gridRadios2">
                    My Events
                </label>
            </div>
            <div class="form-check ">
                <input class="form-check-input" type="radio" 
                name="gridRadios" id="gridRadios3" value="otherevent"
                v-model="visibility">
                <label class="form-check-label" for="gridRadios3">
                    Events shared with me
                </label>
            </div>
        </div>

        <EventInfo :eventInfo="eventInfo" 
        v-if="isShowEventInfo"
        @closeEventInfo="closeEventInfo"
        @showEditEventBox="showEditEventBox"/>

        <PublishEventBox v-if="isShowPublishEvent" 
        :typeOfPublish="typeOfPublish"
        :event="event"
        @closePublishEventBox="closePublishEventBox"
        
        />
    </div>  
</div>
</template>

<script>
    //import {$} from 'jquery';
    import {mapGetters} from 'vuex'
    import { Calendar } from '@fullcalendar/core';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import interactionPlugin, { Draggable } from '@fullcalendar/interaction';
    import moment from 'moment'
    import '@fullcalendar/core/main.css';
    import '@fullcalendar/daygrid/main.css';

    import filters from '@/filters'

    import EventInfo from '@/components/EventInfo.vue';
    import PublishEventBox from '@/components/PublishEventBox.vue';

    import {CHECK_AUTH,LOGOUT,GET_ALL_EVENTS,EDIT_EVENT} from '@/store/action.type'
    import store from '@/store'
    import utils from '@/utils'
    export default {
        components: {
            EventInfo,
            PublishEventBox
        },
        data() {
            return {
                isShowPublishEvent: false,
                typeOfPublish:'',
                event:{},
                visibility:'all',
                eventInfo:{},
                isShowEventInfo:false,
            }
        },
        watch: {
            visibility(newVi) {
                this.showVisibility(newVi)
            }
        },
        filters: {
            capitalize: filters.capitalize
        },
        computed: {
            ...mapGetters(['user','listevent'])
        },
        methods: {
            closePublishEventBox(){
                this.isShowPublishEvent=false
            },
            showCreateEventBox(start,end) {
                this.typeOfPublish='create'
                this.isShowPublishEvent=true;
                this.event.startdate=moment(start).format('DD-MM-YYYY')
                this.event.enddate=moment(end).subtract(1,'days').format('DD-MM-YYYY')
            },
            logout(){
                this.$store.dispatch(LOGOUT)
            },
            showEventInfo(_eventInfo){
                this.eventInfo=_eventInfo
                this.isShowEventInfo=true
            },
            closeEventInfo(){
                this.isShowEventInfo=false
            },
            showEditEventBox(_event){
                this.typeOfPublish='edit'
                this.isShowPublishEvent=true;
                let __event = utils.convertFromCalendarFormat(_event)
                this.event=__event
            },
            showVisibility(newVi){
                let user_id= this.user.id
                let allEvent = this.listevent;
                let currentEvents = filters.visibility[newVi](allEvent,user_id)
                let allCalendarEvent= window.calendar.getEvents()
                for (let i = 0; i < allCalendarEvent.length; i++) {
                        allCalendarEvent[i].remove()
                }
                for (let i = 0; i < currentEvents.length; i++) {
                    let formattedCurrentEvent=utils.convertToCalendarFormat(currentEvents[i])
                    console.log(formattedCurrentEvent)
                    utils.setColorForEvent(formattedCurrentEvent,user_id)
                    window.calendar.addEvent(formattedCurrentEvent)
                }
            }
        },
        mounted () {
            let self = this
            this.$nextTick(()=>{
                let calendarEl = document.getElementById('calendar');
                window.calendar = new Calendar(calendarEl, {
                    plugins: [ dayGridPlugin,interactionPlugin ],
                    selectable:true,
                    editable: true,
                    droppable:true,
                    eventLimit: true,
                    timezone:'local',
                    eventTextColor:'white',
                    events: [],
                    select:function(info){
                        let start=info.start;
                        let end=info.end;
                        self.showCreateEventBox(start,end);
                    },
                    eventClick:function(eventClickInfo){
                        console.log(eventClickInfo)
                        let event=eventClickInfo.event; 
                        let el= eventClickInfo.el;
                        // get coordinates of el
                        let rect = el.getBoundingClientRect();
                        let bottom= rect.bottom;
                        let left= rect.left;
                        self.showEventInfo({event,bottom,left})
                    },
                    eventDrop:function(eventDropInfo ){
                        // it's possible to move my events
                        if(eventDropInfo.event.extendedProps.user_id != self.user.id){
                            return
                        }
                        // get info of new date
                        let event = utils.convertFromCalendarFormat(eventDropInfo.event)
                        event.listviewer=event.viewers
                        delete event.viewers
                        console.log(event)
                        self.$store.dispatch(EDIT_EVENT,{event})
                    }
                });
                
                // intitialize a Draggabel object with calendarEl that hold the elements
                // that you want to be draggable
                new Draggable(calendarEl,{
                    itemSelector: '.fc-event',
                    eventData: function(eventEl) {
                        return {
                        title: eventEl.innerText,
                        create:false
                        };
                    }
                });
                window.calendar.render();
                // get all event
                self.$store.dispatch(GET_ALL_EVENTS)
                .then(()=>{
                    let listevent= self.listevent
                    for(let i=0; i<listevent.length;i++){
                        // change viewers into listviewer
                        listevent[i].listviewer=listevent[i].viewers
                        delete listevent[i].viewers
                        // convert to calendar format
                        let event=utils.convertToCalendarFormat(listevent[i])
                        utils.setColorForEvent(event,self.user.id)
                        window.calendar.addEvent({
                            id:event.id,
                            title:event.title,
                            description:event.description,
                            start:event.start,
                            end:event.end,
                            color:event.color,
                            listviewer:event.listviewer,
                            user_id:event.user_id,
                            isfinished:event.isfinished
                        });
                    }
                })
            })
        },
        beforeRouteEnter(to,from,next){
            store.dispatch(CHECK_AUTH)
            .then(()=>{next()})
            .catch(()=>{next('/home')})
        }
    }
</script>

<style lang="scss" scoped>
    .nav{
        justify-content: space-between;
    }
    .bg-calendar{
        display: flex;
        .visibility{
            min-width: 200px;
            padding: 5px 10px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-top: 65px;
            margin-left: 15px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            height: 120px;
            .form-check-input,.form-check-label{
                cursor: pointer;
            }
        }
    }
</style>