<template>
    <div>
        <nav class="nav">
            <router-link class="nav-link" :to="{name:'register'}">Register</router-link>
            <router-link class="nav-link" :to="{name:'login'}">Log in</router-link>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
    nav{
        justify-content: flex-end;
    }
</style>