<template>
    <div>
        <div class="bg-overlay" @click="closeEventInfo">
        </div>
        <div class="event-info" :style="styleObject">
        <div class="header" >
            <i class="fas fa-check" 
            @click="toggleFinishedEvent"
            v-if="event.user_id==user.id"
            :class="{checked:isfinished}"></i>
            <i class="fas fa-edit"  @click="showEditEventBox"
            v-if="event.user_id==user.id"></i>
            <i class="fas fa-trash-alt" 
            v-if="event.user_id==user.id" @click="deleteEvent"></i>
            <i class="fas fa-times" @click="closeEventInfo"></i>
        </div>
        <div class="title">
            {{event.title}}
        </div>
        <div class="description">
            {{event.description}}
        </div>
        <div>
            <span class="label">From: </span>
            <span>{{event.starttime}} - {{event.startdate}}</span>
        </div>
        <div>
            <span class="label">To: </span>
            <span>{{event.endtime}} - {{event.enddate}}</span>
        </div>
        <div>
            <span class="label">Created by: </span>{{creator.name}}
        </div>
    </div>
    </div>
    
</template>

<script>
    //import utils from '@/utils'
    import {mapGetters} from 'vuex'
    import {TOGGLE_FINISHED_EVENT, GET_USER_BY_ID,DELETE_EVENT} from '@/store/action.type.js'
    export default {
        props:['eventInfo'],
        computed: {
            ...mapGetters(['user']),
            event() {
                return this.$store.getters.getEventById(this.eventInfo.event.id)
            },
            styleObject() {
                let _top=this.eventInfo.bottom
                let _left=this.eventInfo.left
                if (_top>350){
                    _top -=220
                }
                return {
                    top:_top + 'px',
                    left:_left + 'px'
                } 
            }
        },
        data() {
            return {
                creator:'',
                isfinished:''
            }
        },
        created () {
            // set isfinished = event.isfinished
            if(this.event.isfinished == 1){
                this.isfinished = true
            }
            else{this.isfinished = false}
            //get the creator who create that eventInfo
            let self = this
            this.$store.dispatch(GET_USER_BY_ID,this.event.user_id)
            .then((creator)=>{
                self.creator=creator
            })
        },
        methods: {
            closeEventInfo() {
                this.$emit('closeEventInfo')
            },
            showEditEventBox(){
                this.$emit('showEditEventBox',this.eventInfo.event)
                this.closeEventInfo();
            },
            toggleFinishedEvent(){
                let self=this
                this.$store.dispatch(TOGGLE_FINISHED_EVENT,this.event.id)
                .then((event)=>{
                    self.isfinished = !self.isfinished
                    //when call api successfully, change event color on calendar
                    let color=''
                    if(event.isfinished==0){
                        color="#3788d8"
                    }
                    else{
                        color="green"
                    }
                    let calendarEvent = window.calendar.getEventById(event.id)
                    calendarEvent.setProp('color',color);
                })
            },
            deleteEvent(){
                let event_id= this.event.id
                if(!confirm('Do you really want to delete this event?')){
                    return
                }
                this.$store.dispatch(DELETE_EVENT,event_id)
                .then(()=>{
                    let calendarEvent = window.calendar.getEventById(event_id)
                    calendarEvent.remove()
                })
                this.$emit('closeEventInfo')
            }
        }
    }
</script>

<style lang="scss" scoped>
    .bg-overlay{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color:rgba(0,0,0,0.2);
    }
    .event-info{
        width:300px;
        padding:15px;
        position:fixed;
        box-shadow: 0 5px 30px 10px rgba(0,0,0,0.2);
        z-index: 2;
        background: white;
        border-radius: 10px;
        .header{
            display: flex;
            width:100%;
            justify-content: flex-end;
            i{
                padding:5px 10px;
                cursor: pointer;
            }
        }
        .title{
            border-bottom: 1px solid rgba(0,0,0,0.2);
            padding:5px 0;
        }
        .label{
            font-weight: bold;
            width: 80px;
        }
        .description{
            padding:5px 0;
        }
        .checked{
            font-size: 18px;
            color:green;
        }
    }
    
</style>