<template>
    <div>
        <div class="loading" v-if="isLoadingListUser">
            <img src="../assets/loading-list-user.svg" alt="" style="width:100px;">
        </div>
        <ul class="list-group" v-if="!isLoadingListUser">
            
            <li v-for="(user,k) in listuser" 
            :key="k" class="list-group-item"
            @click="attachViewer(user)"
            >
            <p style="margin-bottom:0;">{{user.name}}</p>
            <small>{{user.email}}</small>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props:['listuser','isLoadingListUser'],
        methods: {
            attachViewer(user) {
                this.$emit('attachViewer',user)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .loading{
        display: flex;
        justify-content: center;
    }
    li{
        padding:5px 20px; 
        cursor:pointer;
        transition:all 0.4s;
    }
    li:hover{
        background-color:rgba(0,0,0,0.1);
    }
</style>