<template>
    <div>
        <ul v-if="errors" style="margin:auto;width:50%">
            <li v-for="(v,k) in errors" 
            :key="k" > {{v}}</li>
        </ul>
         <form @submit.prevent="login">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" 
                id="email" v-model="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" v-model="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</template>

<script>
    import {LOGIN} from '@/store/action.type'
    export default {
        data() {
            return {
                email: '',
                password:'',
                errors:''
            }
        },
        methods: {
            login() {
                let self=this
                this.$store.dispatch(LOGIN,{
                    email:this.email,
                    password:this.password
                })
                .then(()=>{this.$router.push({name:'calendar'})})
                .catch((errors)=>{
                    self.errors=errors
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    @media (min-width:700px){
        form{
            width: 50%;
            margin:auto;
        }
    }
</style>