<template>
    <div class="_modal">
        <div class="bg-overlay-1" @click="closePublishEventBox">

        </div>
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >{{typeOfPublish | capitalize}} Event</h5>
                <button type="button" class="close" @click="closePublishEventBox">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" v-model="title">
                </div>
                <div class="form-group">
                    <label for="title">Description</label>
                    <input type="text" id="description" class="form-control" v-model="description">
                </div>
                <div class="fromto form-group" >
                    <span>From</span>
                    <input type="text" class="datetime form-control time" v-model="starttime">
                    <input type="text" class="datetime form-control date" v-model="startdate">
                </div>
                <div class="fromto form-group">
                    <span>To</span>
                    <input type="text" class="datetime form-control time" v-model="endtime">
                    <input type="text" class="datetime form-control date" v-model="enddate">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="private" 
                    name="isPublic" 
                    v-model="isPublic" value=false>
                    <label class="form-check-label" for="private">
                        Private
                    </label>
                    <p>Only me can see this event</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" 
                    id="public" name="isPublic" v-model="isPublic" value=true
                    @click="getAllUsers">
                    <label class="form-check-label" for="public" @click="getAllUsers">
                        Public
                    </label>
                    <p v-if="!listviewer.length">Choose people Who can see this event</p>
                </div>
                <div class="list-viewer" v-if="listviewer">
                    <ul>
                        <li v-for="(viewer,k) in listviewer" :key="k">{{viewer.name}}
                            <span @click="removeViewer(viewer)">&times;</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="closePublishEventBox">Close</button>
                <button type="button" class="btn btn-primary" 
                style="background-color:#1bbc9b;"
                @click="publishEvent">
                {{typeOfPublish | capitalize}} Event</button>
            </div>
            </div>
        </div>
        <div class="list-user" v-if="isShowListUser">
            <div class="bg-overlay-2" @click="closeListUser"></div>
            <div class="list-user-dialog">
                <div class="modal-header">
                    <h5 class="modal-title" >list of users</h5>
                    <button type="button" class="close" @click="closeListUser">
                    <span>&times;</span>
                    </button>
                </div>
                <ListUser :listuser="listuser"
                :isLoadingListUser="isLoadingListUser"
                @attachViewer="attachViewer"
                >
                </ListUser>
            </div>    
        </div>
        <!-- <div class="loading-pulish" v-if="isLoadingPublish">
            <img src="../assets/loading-list-user.svg" alt="" style="width:150px;">
        </div> -->
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ListUser from './ListUser'
    import {GET_ALL_USERS,CREATE_EVENT,EDIT_EVENT} from '@/store/action.type'
    import flatpickr from "flatpickr";
    import 'flatpickr/dist/flatpickr.css';
    require("flatpickr/dist/themes/material_green.css");
    import filters from '@/filters'
    import utils from '@/utils'
    export default {
        props: ['event','typeOfPublish'],
        computed: {
            ...mapGetters(['user']),
            isPublic(){
                if(this.listviewer.length==0){
                    return false
                }
                return true
            }
        },
        data() {
            return {
                isShowListUser:false,
                title: this.event.title || "title",
                description:this.event.description || "des",
                startdate:this.event.startdate || "21-12-2019",
                enddate:this.event.enddate || "21-12-2019",
                starttime:this.event.starttime || "12:00",
                endtime:this.event.endtime || "13:00",
                listuser:'',
                isLoadingListUser:false,
                listviewer:this.event.viewers || []
            }
        },
        methods: {
            closePublishEventBox() {
                this.$emit('closePublishEventBox')
            },
            getAllUsers(){
                this.isShowListUser=true
                this.isLoadingListUser=true
                let user_id= this.user.id
                this.$store.dispatch(GET_ALL_USERS)
                .then((listuser)=>{
                    this.listuser=listuser.filter((el)=>{
                        return el.id != user_id
                    })
                    this.isLoadingListUser=false
                })
                
            },
            closeListUser(){
                this.isShowListUser=false
            },
            attachViewer(user){
                for (let i = 0; i < this.listviewer.length; i++) {
                    if(this.listviewer[i].id==user.id){
                        alert('this user is added')
                        return ;
                    }
                }
                this.listviewer.push(user)
            },
            removeViewer(viewer){
                this.listviewer=this.listviewer.filter((el)=>{
                    return el.id != viewer.id
                })
            },
            //publish event
            publishEvent(){
                let listviewer = this.isPublic ? this.listviewer : []
                let id = this.typeOfPublish =="edit" ? this.event.id : null
                let event={
                    title:this.title || "",
                    description:this.description || "",
                    startdate:this.startdate || "",
                    enddate:this.enddate || "",
                    starttime:this.starttime || "",
                    endtime:this.endtime || "",
                    listviewer:listviewer,
                    user_id:this.user.id,
                    isfinished:this.event.isfinished || false,
                    id:id
                }
                //validate event
                if(event.title=="" || event.description== "" || 
                    event.startdate== "" || event.enddate== "" ||
                    event.starttime== "" || event.endtime== ""
                ){
                    alert('all fields is required !');
                    return;
                }
                // The end time must be after the start time
                let _startdate= event.startdate.split('-').reverse().join('-')
                let _start= new Date(`${_startdate}T${event.starttime}`);
                let _enddate= event.enddate.split('-').reverse().join('-')
                let _end= new Date(`${_enddate}T${event.endtime}`);

                if(_end.getTime() <= _start.getTime()){
                    alert('The end time must be after the start time')
                     return;
                }
                //publish event(create or edit)
                //create event
                if(this.typeOfPublish=="create"){
                    this.$store.dispatch(CREATE_EVENT,{
                        event
                    })
                    .then((event)=>{
                        //convert to calendar format
                        let formattedEvent=utils.convertToCalendarFormat(event)
                        window.calendar.addEvent(formattedEvent)
                        //console.log(window.calendar.getEventById(event.id).extendedProps)
                    })
                }
                //edit event
                else{
                    this.$store.dispatch(EDIT_EVENT,{
                        event
                    })
                    .then((event)=>{
                        
                        // ----------change viewers prop into listviewer prop
                        event.listviewer=event.viewers
                        delete event.viewers
                        // --------------
                        let formattedEvent=utils.convertToCalendarFormat(event)
                        // set props for event calendar
                        let calendarEvent = window.calendar.getEventById(formattedEvent.id)
                        calendarEvent.setProp('title',formattedEvent.title)
                        calendarEvent.setStart(formattedEvent.start)
                        calendarEvent.setEnd(formattedEvent.end)
                        calendarEvent.setExtendedProp('description',formattedEvent.description)
                        calendarEvent.setExtendedProp('listviewer',formattedEvent.listviewer)
                    })
                }
            }
        },
        filters: {
            capitalize: filters.capitalize
        },
        mounted () {
            flatpickr('.time',{
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true
            });
            flatpickr('.date',{dateFormat:'d-m-Y'})
        },
        components: {
            ListUser,
        },
    }
</script>

<style lang="scss" scoped>
    .modal-dialog{
        z-index: 4;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 350px;
    }
    .datetime{
        width: 40%;
    }
    .fromto{
        display: flex;
        span{
            width:40px;
        }
        justify-content:space-between;
    }
    .form-group{
        margin-bottom: 0.7rem;
    }
    .bg-overlay-1{
        width:100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.4);
        z-index: 3;
        top: 0;
        left: 0;
    }
    .bg-overlay-2{
        width:100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.4);
        z-index: 4;
        top: 0;
        left: 0;
    }
    .form-check-label,.form-check-input{
        cursor: pointer;
    }
    .list-user-dialog{
        position:fixed;
        right:400px;
        top: 100px;
        width:250px;
        height: 300px;
        z-index: 5;
        background-color: white;
    }
    .list-viewer ul{
        list-style: none;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        padding:0;
        li{
            padding:5px;
            background-color:rgb(27, 188, 155);
            border-radius:5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        span{
            cursor: pointer;
        }
    }
    
    
</style>