<template>
    <div>
        <ul v-if="errors" style="margin:auto;width:50%;">
            <li v-for="(v,k) in errors" 
            :key="k" >{{v[0]}}</li>
        </ul>
        <form @submit.prevent="register">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" 
                id="email" aria-describedby="emailHelp"
                 placeholder="Enter email"
                 v-model="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="userName">User name</label>
                <input type="text" 
                class="form-control" id="userName" 
                placeholder="Enter username" 
                v-model="name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" 
                id="password"
                v-model="password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</template>

<script>
    import {REGISTER} from '@/store/action.type'
    export default {
        data() {
            return {
                email: '',
                name:'',
                password:'',
                errors:''
            }
        },
        methods: {
            register() {
                let self=this
                this.$store.dispatch(REGISTER,{
                    email:this.email,
                    name:this.name,
                    password:this.password
                })
                .then(()=>{this.$router.push({name:'calendar'})})
                .catch((errors)=>{
                    self.errors=errors
                })
            }
        },
    }
</script>

<style lang="scss" scoped>
    @media (min-width:700px){
        form{
            width: 50%;
            margin:auto;
        }
    }
</style>